@font-face {
  font-family: 'Museo Sans Light';
  src: url("/fonts/Museo light/MuseoSansCyrl-300.eot");
  src: url("/fonts/Museo light/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("/fonts/Museo light/MuseoSansCyrl-300.woff") format("woff"), url("/fonts/Museo light/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("/fonts/Museo light/MuseoSansCyrl-700.eot");
  src: url("/fonts/Museo light/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("/fonts/Museo light/MuseoSansCyrl-700.woff") format("woff"), url("/fonts/Museo light/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light' ,sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0px;
}

.section-title {
  max-width: 500px;
  font-size: 24px;
  font-family: 'Museo Sans Bold' ,sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

input:focus {
  outline: none;
  border: 1px solid #ffd200;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

#username-error, #phone-error, #email-error {
  border: none;
}

.invalid {
  border: 1px solid red;
}

.navbar {
  padding: 8px 0px;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-family: 'Museo Sans Bold' ,sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  margin-top: 10px;
}

.totop {
  width: 100px;
  border: 1px solid #ccc;
  background: #ffd200;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  color: #333;
  font-family: +light;
  font-size: 14px;
  z-index: 2;
}

.menu {
  margin-left: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 250px;
}

.menu__list {
  position: relative;
  list-style: none;
}

.a {
  position: relative;
  max-width: 100px;
  height: 40px;
  display: block;
  color: tomato;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.a__span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: tomato;
  z-index: 3;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.a:hover {
  color: #fff;
  text-decoration: none;
}

.a__span {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.a__span:nth-child(1) {
  left: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.a__span:nth-child(2) {
  left: 25%;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.a__span:nth-child(3) {
  left: 50%;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.a__span:nth-child(4) {
  left: 75%;
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

@media screen and (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  padding: 50px 0px;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 40px;
  font-family: 'Museo Sans Bold' ,sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 70px;
}

.hero-list {
  padding: 0px;
  margin: 0px;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.hero-list__item:last-child {
  margin-bottom: 0px;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}

.hero-list__text {
  max-width: 300px;
}

@media screen and (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list-image {
    margin-right: 15px;
  }
}

.offer {
  background: url("../img/room.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 24px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

.offer-info {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__event {
  width: 225px;
  font-size: 15px;
  line-height: 1.6;
}

.offer__text {
  width: 190px;
  font-size: 15px;
}

.offer__phone {
  display: inline-block;
  margin-top: 10px;
  font-family: 'Museo Sans Bold' ,sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
}

@media screen and (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0px;
  }
  .offer-info {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-form__block {
  margin-top: -65px;
}

.modal-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: auto;
  height: 674px;
  max-width: 570px;
  width: 90%;
  min-width: 200px;
  background-color: #ffffff;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.modal-dialog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.modal-dialog__input {
  width: 370px;
  display: block;
  margin-bottom: 30px;
}

.modal-dialog__input:first-child {
  margin-bottom: 15px;
}

.modal-dialog__button {
  width: 370px;
}

.modal-dialog__callback {
  text-align: center;
  margin-top: -30px;
}

.modal-dialog__callback__subtitle {
  display: block;
  margin-top: -55px;
  width: 280px;
  font-family: 'Museo Sans Light' ,sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.modal-dialog__title {
  width: 291px;
  font-family: 'Museo Sans Bold' ,sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  margin-bottom: -70px;
}

.modal-dialog__phone {
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
  color: #333333;
  width: 250px;
  font-family: 'Museo Sans Bold' ,sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.portfolio {
  background: #f5f5f5 url("/img/portfolio/bcd.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 100px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__image {
  margin: auto;
}

.price__title {
  margin: auto;
  margin-bottom: 58px;
}

.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0px;
}

.card__image {
  position: relative;
}

.card__image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold' ,sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  z-index: -1;
  position: absolute;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step::after {
  content: "";
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/steps/arrow.png") no-repeat center;
  top: -10px;
  right: -15%;
}

.step:last-child::after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.step__text {
  font-size: 14px;
  max-width: 160px;
  margin: auto;
}

.steps__title {
  margin: auto;
  margin-bottom: 59px;
}

.steps__subtitle {
  text-align: center;
  margin-bottom: 58px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step::after {
    display: none;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step::after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.brif {
  background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/form-bg.jpg");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y ,no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.interview {
  padding-left: 34px;
  padding-right: 70px;
}

.interview__title {
  margin-bottom: 50px;
  font-size: 22px;
  font-family: 'Museo Sans Bold' ,sans-serif;
  font-weight: 700;
}

.interview__subtitle {
  display: block;
  font-size: 16px;
  margin-bottom: 95px;
}

.interview-list {
  list-style: none;
  padding: 0px;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Museo Sans Bold' ,sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
}

.interview-list__counter {
  display: inline-block;
  line-height: 35px;
  font-size: 14px;
  text-align: center;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  margin-right: 30px;
  border-radius: 50%;
}

.interview-list__text {
  max-width: 400px;
}

.form__title {
  margin-bottom: 50px;
  font-size: 22px;
  font-family: 'Museo Sans Bold' ,sans-serif;
  font-weight: 700;
}

.form__subtitle {
  display: block;
  font-size: 16px;
  margin-bottom: 95px;
}

.form__discription {
  display: block;
}

@media screen and (max-width: 1200px) {
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .brif {
    background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/form-bg.jpg");
    background-position: top center, center bottom;
    background-size: 100% 50% , cover;
    background-repeat: repeat-x ,no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 80px;
  }
  .interview {
    margin-top: 45px;
    padding-left: 15px;
  }
  __title {
    font-size: 18px;
  }
  __subtitle {
    display: block;
    font-size: 14px;
  }
}

.footer {
  position: relative;
}

.map {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 100px;
  padding-left: 200px;
}

.contacts__title {
  font-family: 'Museo Sans Bold' ,sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 100px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0px;
  list-style: none;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 23px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 39px;
}

.contacts-list__text__phone {
  text-decoration: none;
  color: #333333;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .map {
    position: relative;
    width: 100%;
  }
  .contacts {
    padding: 0px;
  }
  .contacts-block {
    margin-left: 23px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contacts-list {
    margin-bottom: 55px;
  }
  .contacts-list__text {
    width: 140px;
  }
  .contacts__title {
    text-align: left;
    width: 250px;
    font-family: 'Museo Sans Bold' ,sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    margin-top: 70px;
    margin-bottom: 25px;
  }
}
/*# sourceMappingURL=style.css.map */